<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reddit</title>
</head>
<body>
<div>
    <a href="submit">Submit new post</a>
</div>
<br>
<h1>Trending posts</h1>
<br>
<div>
    <table>
        <tbody th:each="post : ${postList}">
        <tr>
            <td th:text="${post.trending}"></td>
            <td>+</td>
            <td>-</td>
            <td th:text="${post.title}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>